---
import {lang} from '../../data/lang'
interface Props{
  title?: string;
  description?: string;
  image?: string;
  url?: string;
  date?: string;
  type?: string;
  icons?: any[];
  class?: string;
}

const { 
  title="Project", 
  description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.',
  image='https://picsum.photos/400/280',
  url='', 
  date='01-12-2021', 
  type='Development',
  icons=[],
  }: Props = Astro.props;


--- 


<div class={
` ${Astro.props.class}
  group
  relative
  border-[3px] border-primary rounded-xl
`}>
  <div 

    class={`
      absolute left-0 top-0 bottom-0 w-full h-full
      group-hover:scale-110 transition-scale duration-200 
      ease-in-out group-hover:opacity-20 opacity-80 bg-cover  bg-center bg-no-repeat z-0
    `}
    
  >
    <slot name="image"/>
  </div>

  <div class="z-10 flex h-full relative">
    <h2 class="
    group-hover:text-secondary text-complement text-6xl 
      font-black "
    >{title}</h2>
    <p class="self-end text-complement group-hover:text-primary 
      font-light font-secondary"
    >{description}</p>

  </div>
</div>


<style>

</style>