---
import BaseLayout from '../layouts/BaseLayout.astro'
import Section from '../components/Section.astro'

import Home from  '../sections/Home.astro'
import About  from  '../sections/About.astro'
import Development from '../sections/Development.astro'
import Tech from  '../sections/Tech.astro'
import Jobs  from  '../sections/Jobs.astro'
import Projects from '../sections/Projects.astro'
import Animation from '../sections/Animation.astro'

---

<BaseLayout >
  <Home id="main"/>
  <Section id="about">
    <About/>
  </Section>
  <Section id="animation" class="w-full h-[500px]">
    <Animation/>
  </Section>
  <div class="w-[180%] translate-x-[-22%] border-complement  rounded-xl border-4">
    <Section id="dev" class="h-[800px]">
      <Development/>
      
    </Section>

  </div>
  <Section id="web">
  </Section>
  <Section id="contact">
    <Tech/>
  </Section>

  <Section id="jobs">
    <Jobs/>
  </Section>
  
  <Section id="projects">
    <Projects/>
  </Section>
</BaseLayout>

<style>
#about-me{ 
  margin-top:100px;
}

</style>