---
import BaseLayout from '../layouts/BaseLayout.astro'
import Section from '../components/Section.astro'

import Home from  '../sections/Home.astro'
import About  from  '../sections/About.astro'
import Skills from '../sections/Skills.astro'
import Tech from  '../sections/Tech.astro'
import Jobs  from  '../sections/Jobs.astro'
import Projects from '../sections/Projects.astro'

---

<BaseLayout >
  <Section 
    id="main"
  >
    <Home/>
  </Section>
  <Section id="animation">
    <About/>
  </Section>
  <Section id="dev">

  </Section>
  <Section id="web">
    <Skills/>
  </Section>
  <Section id="contact">
    <Tech/>
  </Section>

  <Section id="jobs">
    <Jobs/>
  </Section>
  
  <Section id="projects">
    <Projects/>
  </Section>
</BaseLayout>

<style>
#about-me{ 
  margin-top:100px;
}
</style>../data/lang