---
import navigation from '../data/navigation.json'
import {lang } from '../data/lang.ts'


---

<nav class="sticky top-0">
  {navigation.map(link => 
    <a 
      href={link.url}

    >{link.name[lang as 'en' | 'es']}</a>)}
</nav>