---
import navigation from '../data/navigation.json'
import {lang } from '../data/lang.ts'


---
<div class="sticky">


  <nav class="
    flex
    flex-col
    top-0 
   
    
  ">
    {navigation.map(link => 
      <a 
        href={link.url}
        class="
          
          p-2 
          m-0 
          text-sm 
          font-secondary
          font-bold
          hover:text-on-secondary
          hover:bg-gray-100 
          transition-colors 
          duration-200 
          ease-in-out 
          border-b-2 
          border-transparent 
          hover:border-gray-900"
      >{link.name[lang as 'en' | 'es']}</a>)}
  </nav>
</div>



