---
import navigation from '../data/navigation.json'
import {lang } from '../data/lang.ts'


---

<nav class="sticky top-0 max-w-full m-0 p-0 overflow-x-hidden">
  {navigation.map(link => 
    <a 
      href={link.url}

    >{link.name[lang as 'en' | 'es']}</a>)}
</nav>