---
const {id, width='auto', height='auto'} = Astro.props
---

<section
  id={id}
  class={ `
    w-full h-full
    relative 
    rounded-lg
    border-2
    border-primary

    sm:p-24
    bg-darken flex justify-center items-center
` }
  style={`
    width: ${width};
    height: ${height};
  `}
>
  <div class={`${Astro.props.class}`}>
    <slot />
  </div>
</div>
</section>

<style>

</style>