---
const {class: className,   id} = Astro.props
---

<section
  id={id}
  class={ `
    page-section
    relative 
    inline-block
    rounded-lg
    border-2
    border-primary
    w-full
    p-4
    sm:p-24
    text-balance
    bg-darken
    ${className}` }
>
  <slot />
</section>

<style>
.page-section::before  {
  content:  "";
  display: block;
  height: 160px;
  margin: -100px 0 0;
  visibility: hidden;
}

</style>