---
import SocialWidget from './SocialWidget.astro'
import {
  IconBrandGithub,
  IconBrandStackoverflow,
  IconBrandVimeo,
  IconMail
} from '@tabler/icons-vue'
const urls = {
  github: 'https://github.com/Octopodo',
  vimeo:'https://vimeo.com/749369651',
  stackOverflow: 'https://stackoverflow.com/users/4479087/miguel',
}

const showNames = false
---


<div  class="
  socials
  border-2 
  border-dark
  w-[fit-content]
  sticky 
  bottom-4
  left-1/2
  flex 
  flex-row 
  cursor-pointer
  bg-primary-darken
  rounded-[30px] 
  shadow-lg
  hover:bg-primary
  hover:border-accent-dark
  hover:translate-y-0
  transform-gpu translate-x-[-50%] translate-y-[70%]
  transition-transform duration-300 ease-in-out 
  motion-reduce:transition-none 
  motion-reduce:hover:transform-none
"
>
  <a href={urls.github} class="pt-1 pb-2 px-3" target="_blank">
    <IconBrandGithub class={`
      social-icon
      size-6 
      inline 
      text-secondary-dark
    `}/>
    {showNames && <h3 class="md:inline hidden">Github</h3>}
  </a>
  <a href={urls.stackOverflow} class="pt-1 pb-2 px-3"  target="_blank">
    <IconBrandStackoverflow class={`
      social-icon
      size-6 
      inline 
      text-secondary-dark
    `}/>
    {showNames && <h3 class="md:inline hidden">Github</h3>}
  </a>
  <a href={urls.vimeo} class="pt-1 pb-2 px-3"  target="_blank">
    <IconBrandVimeo class={`
      social-icon
      size-6 
      inline 
      text-secondary-dark
    `}/>
    {showNames && <h3 class="md:inline hidden">Github</h3>}
  </a>
  <a href={urls.github} class="pt-1 pb-2 px-3"  target="_blank">
    <IconMail class={`
      social-icon
      size-6 
      inline 
      text-secondary-dark
    `}/>
    {showNames && <h3 class="md:inline hidden">Github</h3>}
  </a>


  
</div>

<style>
.socials:hover .social-icon{
  color: theme('colors.lighter')
}

.socials:hover .social-icon:hover{
  color: theme('colors.secondary')
}

.socials::after {
  content: "";
  position: absolute;
  top: -20px;
  bottom: -20px;
  right: -15px;
  left: -15px;
  cursor: pointer;
  /* background-color: red; */
  z-index: -1;
}
</style>