---
import SocialWidget from './SocialWidget.astro'
import {
  IconBrandGithub,
  IconBrandStackoverflow,
  IconBrandVimeo,
  IconMail
} from '@tabler/icons-vue'
const urls = {
  github: 'https://github.com/Octopodo',
  vimeo:'https://vimeo.com/749369651'
}

const showNames = false
---


<div  class="
  socials
  border-2 
  border-dark
  hover:border-primary
  w-[fit-content]
  sticky 
  bottom-4
  left-1/2
  flex 
  flex-row 
  cursor-pointer
  bg-deactivated
  hover:bg-accent 
  rounded-[30px] 
  shadow-lg
  transform-gpu translate-x-[-50%] translate-y-[70%]
  transition-transform duration-300 ease-in-out 
  motion-reduce:transition-none motion-reduce:hover:transform-none
  transition-colors
  hover:translate-y-0
"
>
  <SocialWidget href={urls.github} class="pt-1 pb-2 px-3">
    <IconBrandGithub class="size-6 inline text-ptimary"/>
    {showNames && <h3 class="md:inline hidden">Github</h3>}
  </SocialWidget>
  <SocialWidget href={urls.github} class="pt-1 pb-2 px-3">
    <IconBrandStackoverflow class="size-6 inline text-ptimary"/>
    {showNames && <h3 class="md:inline hidden">Github</h3>}
  </SocialWidget>
  <SocialWidget href={urls.github} class="pt-1 pb-2 px-3">
    <IconBrandVimeo class="size-6 inline text-ptimary"/>
    {showNames && <h3 class="md:inline hidden">Github</h3>}
  </SocialWidget>
  <SocialWidget href={urls.github} class="pt-1 pb-2 px-3">
    <IconMail class="size-6 inline text-ptimary"/>
    {showNames && <h3 class="md:inline hidden">Github</h3>}
  </SocialWidget>


  
</div>

<style>

.socials::before {
  content: "";
  position: absolute;
  top: -15px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  cursor: pointer;
}
</style>