

<>
<div class="relative w-full h-full" >
  <iframe
    class=" relative top-0 left-0 w-full h-full"
    src="https://player.vimeo.com/video/749369651?autoplay=1&muted=1&loop=1"
    allow="autoplay; fullscreen; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>

</>

<style scoped>

</style>
