---
import VimeoPlayer from '../components/VimeoPlayer.astro'
import Section  from '../components/Section.astro'
import { lang } from '../data/lang'
import data  from '../data/animation.json'
---

<h1 
  class=" w-full  text-7xl font-secondary font-bold"  
>{data.title[lang]}</h1>
<VimeoPlayer />
