---
import skills from '../data/skills.json'
import {lang} from '../data/lang'
import ProjectItem from '../components/widgets/ProjectItem.astro'

const numProjects = 3;
---

<div class={`
  w-full 
  grid grid-cols-12 auto-rows-[25rem] gap-5
  mx-auto p20 cursor-pointer
  
`}>
  {[...Array(numProjects)].map((_, i) =>
    <ProjectItem class="col-span-4 relative group overflow-hidden">
      <div 
        slot="image"
        class={`
          absolute left-0 top-0 bottom-0 w-full h-full
          group-hover:scale-110 transition-scale duration-200 
          ease-in-out opacity-20 hover:opacity-80 bg-cover  bg-center bg-no-repeat z-0
        `}
        style={`background-image: url('https://picsum.photos/400/280')`}
      >
      </div>
    </ProjectItem>
  )}
</div>