---
import data from '../data/dev-projects.json'
import baseUrl from '../data/baseUrl.ts'
import {lang} from '../data/lang'
import ProjectItem from '../components/widgets/ProjectItem.astro'
import HoverVideo from '../components/widgets/HoverVideo.vue'
const numProjects = 3;
---

<div class={`
  w-full 
  grid grid-cols-10 auto-rows-[25rem] gap-5
  mx-auto p20 cursor-pointer
`}>
  <ProjectItem 
    class="col-span-5 relative overflow-hidden"
    title={data.projects[0].name[lang]}  
    description={data.projects[0].description[lang]}
    url={data.projects[0].link}
    
  >
    <HoverVideo src={baseUrl+data.projects[0].image} slot="image" />
    
  </ProjectItem>

</div>