---
import {lang} from '../data/lang.ts'
import baseUrl from '../data/baseUrl.ts'
import IconCarrousel from '../components/vue/IconCarrousel.vue'

const portrait = baseUrl + '/self-portrait.png'
---

<div class="relative top-10 home">
  <img  
    src={portrait} 
    alt="A picture of Miguel de Mendoza" 
    class={`
      inline-block
      w-[250px] 
      lg:w-auto
      lg:h-screen
      2xl:ml-[-10%]
      lg:ml-[-8%]
      md:ml-[2%]
      mt-[10%]
      z-50
      transition-transform duration-200 ease-in-out 
      hover:scale-[1.02]
      cursor-pointer
    `}
  >
  <div 
    class="
      absolute
      align-top
      
      inline-block
      left-[10%]
      "
  >
  
  </div>
  <IconCarrousel client:load />
</div>

