---

import {lang} from '../data/lang.ts'
import about from '../data/about.json'
import baseUrl from '../data/baseUrl.ts'
import { breakpoint } from '../config/appConfig'
import Navigation from '../components/Navigation.astro'
const portrait = baseUrl + '/self-portrait.png'
---

<div class="relative top-10">
  <img  
    src={portrait} 
    alt="A picture of Miguel de Mendoza" 
    class={`
      inline-block
      w-[250px] 
      lg:w-auto
      lg:h-screen
      lg:ml-[-8%]
      md:ml-[2%]
      mt-[8%]
      z-50
    `}
  >
  <div 
    class="
      absolute
      align-top
      
      inline-block
      left-[10%]

      "
  >
    
    
    <!-- <h2
      class="
        whitespace-wrap
        text-2xl
        text-medium
        " 
      set:html={about.title[lang]}
    ></h2> -->
  </div>
</div>


