---

import {lang} from '../data/lang.ts'
import about from '../data/about.json'
import baseUrl from '../data/baseUrl.ts'

import Navigation from '../components/Navigation.astro'
const portrait = baseUrl + '/self-portrait.png'
---

<div class="relative top-10">
  <img  
    src={portrait} 
    alt="A picture of Miguel de Mendoza" 
    class="
      inline-block
      w-[250px] 
      md:w-[400px]
      mt-[8%]
    "
  >
  <div 
    class="
      absolute
      align-top
      text-left
      text-right
      inline-block
      left-[5%]

      "
  >
    <a 
      id="home-button"
      href="#" 
      class="
        whitespace-nowrap
        text-4xl
        md:text-7xl
        font-secondary
        font-bold
        text-secondary
        italic
        mb-2
        transition-all duration-500 ease-in-out
      "
      set:html={about.name[lang]}
    ></a>
    <Navigation/>
    <!-- <h2
      class="
        whitespace-wrap
        text-2xl
        text-medium
        " 
      set:html={about.title[lang]}
    ></h2> -->
  </div>
</div>


<script>
  const homeButton = document.getElementById('home-button');

  window.addEventListener('scroll', () => {
    if (window.scrollY > 100) { // ajusta este valor según tus necesidades
      homeButton?.classList.add('fixed', 'top-0', 'left-0');
    } else {
      homeButton?.classList.remove('fixed', 'top-0', 'left-0','transform');
    }
  });
</script>