---
import CommonHead from '../components/CommonHead.astro'
// import Navigation from '../components/vue/Navigation.vue'
// import Navigation from '../components/Navigation.astro'
import Navigation from '../components/vue/Navigation.vue'
import Socials from '../components/Socials.astro'
import  '../assets/styles/main.css'
---
<html lang="en" >
  <CommonHead/>
  <body class="
    font-primary
    font-thin
    text-md
    text-lighter
    text-xl
    w-full 
    min-h-screen
    bg-gradient-to-b 
    from-darken
    to-dark 
    bg-no-repeat 
    z-0
    "
  >
  <Navigation className={`sticky top-0`} client:load/>
  <!-- <Navigation 
    class={`
    fixed
    right-0
    `}
  /> -->
  <div  class=" 
    mx-auto
    max-w-[100vh]
  ">
    <slot/>
  </div>
  <Socials/>
  </body>

</html>


<style>
html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  body {
    scroll-behavior: auto;
  }
}


</style>