---
import CommonHead from '../components/CommonHead.astro'
// import Navigation from '../components/vue/Navigation.vue'
import Navigation from '../components/Navigation.astro'
import Socials from '../components/Socials.astro'
import  '../assets/styles/main.css'
---
<html lang="en" >
  <CommonHead/>
  <body class="
    font-primary
    font-thin
    text-md
    text-primary
    text-xl
    bg-gradient-to-b 
    from-darken
    to-dark 
    bg-no-repeat 
    w-full 
    min-h-screen

    mx-auto
    max-w-[800px]
    "
  >
  <!-- <Navigation/> -->
  <!-- <Navigation 
    class={`
    fixed
    right-0
    `}
  /> -->
  <div  class="">
    <slot/>
  </div>
  <Socials/>
  </body>

</html>


<style>
html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  body {
    scroll-behavior: auto;
  }
}
</style>