---
import CommonHead from '../components/CommonHead.astro'
import Navigation from '../components/Navigation.astro'
// import i18n from '../data/i18n.json'
// let lang = navigator.language || 'en'
// lang = lang.slice(0, 2) !== 'es' ? 'en' : 'es'
---
<html lang="en">
  <CommonHead/>
  <body class="
    text-slate-50
    bg-gradient-to-b 
    from-zinc-950 
    to-slate-900 
    bg-no-repeat 
    w-screen 
    h-screen"
  >
    <Navigation/>
    <slot/>
  </body>

</html>
