---
import CommonHead from '../components/CommonHead.astro'
// import Navigation from '../components/vue/Navigation.vue'
import Navigation from '../components/Navigation.astro'
import { ViewTransitions } from 'astro:transitions';


---
<html lang="en">
  <CommonHead/>
  <body class="
    text-slate-50
    bg-gradient-to-b 
    from-zinc-950 
    to-slate-900 
    bg-no-repeat 
    w-screen 
    min-h-screen
    overflow-x-hidden
    "
    
  >
    <Navigation />
    
    <div  class="
      mx-auto 
      max-w-full 
      sm:max-w-[900px]
    ">
      <slot/>
    </div>
  </body>

</html>


<style>
  html{
    scroll-behavior: smooth;
  }


@media(prefers-reduced-motion: reduce){
  body{
    scroll-behavior: auto;
  }
}
</style>